.projects {
  height: 100vh;
  padding-top: 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  gap: 3rem;
}

.swiper {
  height: 28rem;
  flex: 2;
  /* margin: 3rem auto; */
  border-radius: 1rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  color: rgba(0, 212, 255, 1) !important;
}

.swiper-button-next {
  color: rgba(0, 212, 255, 1) !important;
}

.swiper-pagination-bullet-active {
  background-color: rgba(0, 212, 255, 1) !important;
}

.project-container {
  display: flex;
  width: 100%;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  max-height: 45rem;
}

@media (max-width: 640px) {
  .project-container {
    flex-direction: column;
    max-height: 80%;
  }

  .swiper {
    /* max-height: 20rem; */
    /* border: 1px solid red; */
    width: 100%;
    /* height: 8rem; */
    min-height: 8rem;
    /* max-height: 8rem; */
    /* padding-bottom: 20%; */
    /* height: 15rem; */
    aspect-ratio: 4/3;
  }

  .projects {
    gap: 1rem;
  }

  .all-projects-button {
    display: none;
  }
}
