.contact {
  height: 100vh;
  padding-top: 5rem;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  scroll-snap-align: start;
  max-width: 55rem;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-text h3 {
  font-size: 1rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,
textarea {
  padding: 0.5rem;
  transition: transform 0.3s;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #aeb8ca;
  color: white;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
  border-bottom: 2px solid rgba(0, 212, 255, 1);
}

input:hover,
textarea:hover {
  transform: translate(0.5rem, 0);
}

input::placeholder,
textarea::placeholder {
  color: #aeb8ca;
}

.contact ul {
  margin: 0;
}

.contact .icons {
  font-size: 1.5rem;
}

@media (min-width: 640px) {
  .contact {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  .contact-text {
    height: 26rem;
    gap: 2rem;
  }

  .contact-text h3 {
    font-size: 1.5rem;
  }

  input,
  textarea {
    padding: 1rem;
  }

  .contact .icons {
    font-size: 2rem;
  }
}
