.about {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  color: white;
  scroll-snap-align: start;
}

.about p {
  color: #aeb8ca;
}
