.home {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
}

.home h1 {
  font-size: 2rem;
  color: white;
  animation: slidein 1.5s ease-in;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translate(0, -5rem);
  }
}

.home h2 {
  color: white;
  font-size: 3rem;
  line-height: 2.4rem;
  margin: 1rem 0;
  color: transparent;
  background-image: linear-gradient(
    to left,
    #2ecc71,
    #3498db,
    #9b59b6,
    #f39c12
  );
  background-clip: text;
  animation: animate 5s linear infinite;
  background-size: 500%;
}

.home h3 {
  color: white;
  animation: slidein 2s ease-in;
}

@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.home p {
  color: #aeb8ca;
  animation: slideinp 2s ease-in;
}

@keyframes slideinp {
  from {
    opacity: 0;
    transform: translate(-5rem, 0);
  }
}

.icon-list {
  display: flex;
  gap: 1.5rem;
  margin: 2rem;
  justify-content: center;
}

.icons {
  font-size: 2rem;
  color: rgba(0, 212, 255, 1);
}

@media (min-width: 640px) {
  .home {
    align-items: center;
  }

  .home h2 {
    text-align: center;
    font-size: 5rem;
    line-height: 4.4rem;
  }

  .home h3 {
    font-size: 2rem;
  }

  .home h1 {
    font-size: 4rem;
  }

  .home p {
    font-size: 1.5rem;
  }
}
