.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home h1 {
  font-size: 3.5rem;
  color: transparent;
  background-image: linear-gradient(
    to left,
    #2ecc71,
    #3498db,
    #9b59b6,
    #f39c12
  );
  background-clip: text;
  animation: animate 5s linear infinite;
  background-size: 500%;
}

.home h2 {
  color: white;
}

.home h3 {
  color: white;
}

@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.home p {
  color: #aeb8ca;
}

.icon-list {
  display: flex;
  gap: 1.5rem;
  margin: 2rem;
  justify-content: center;
}

.icons {
  font-size: 2rem;
  color: rgba(0, 212, 255, 1);
}
