.projects {
  /* height: 100vh; */
  padding: 6rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-list {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 2rem;
}
