.project-card {
  /* background-color: #222632; */
  /* border: 1px solid red; */
  /* padding: 2rem; */
  border-radius: 5px;
  height: 25rem;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.project-card a {
  color: white;
}

.project-card a:hover {
  color: rgba(0, 212, 255, 1);
}

.card-icons {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
}

.card-icons-specific {
  border: 1px solid white;
  border-radius: 0.3rem;
  padding: 0.4rem;
  font-size: 2.2rem;
  display: block;
}

.card-icons-specific:hover {
  border: 1px solid rgba(0, 212, 255, 1);
}

/* .project-icons-left {
  color: rgba(0, 212, 255, 1);
}

.project-icons-right {
  display: flex;
  gap: 0.5rem;
} */

.project-card h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  line-height: 2rem;
}

.project-card p {
  font-size: 0.8rem;
  color: #aeb8ca;
}

.project-skills {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project-skills p {
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgb(41, 145, 0) 100%
  );
  color: white;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  font-size: 1rem;
}
