.skills {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0;
  color: rgba(0, 212, 255, 1);
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  font-size: 3rem;
}
