.skills {
  height: 100vh;
  padding-top: 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.skills-grid {
  display: grid;
  justify-content: space-evenly;
  /* padding: 1rem; */
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  /* column-gap: 0.2rem; */
  row-gap: 1rem;
  margin: 2rem 0;
  color: rgba(0, 212, 255, 1);
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-icon {
  font-size: 3.5rem;
}

@media (min-width: 640px) {
  .skills-grid {
    /* gap: 3rem; */
    /* column-gap: 8rem;
    row-gap: 3rem; */
    max-width: 45rem;
  }

  .skill-icon {
    font-size: 4.5rem;
  }
}

@media (max-height: 720px) {
  .skill-icon {
    font-size: 2.5rem;
  }
}
